body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
}

.calculator {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
}

.display {
    background-color: gray;
    border-radius: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}


